<div id='main' class="mat-app-background">

        <div *ngIf="cardCreated===false  && showReport===false && cardIsEdited===false">
                <div id="btnPrev">
                        <button mat-button (click)='movePrev(FlashCardsx.id)'>
                                <mat-icon>arrow_back_ios</mat-icon>
                        </button>
                </div>
                <div id="btnNext">
                        <button mat-button (click)='moveNext(FlashCardsx.id)'>
                                <mat-icon>arrow_forward_ios</mat-icon>
                        </button>
                </div>
        </div>

        <mat-toolbar color="primary">
                <span>FlashCards</span>
                <span class="example-fill-remaining-space"></span>
                <button mat-button [mat-menu-trigger-for]="menu">
                        <mat-icon>menu</mat-icon>
                </button>
        </mat-toolbar>

        <mat-menu x-position="before" #menu="matMenu">
                <button mat-menu-item color="accent" (click)='goHome()' matTooltip="Home">
                        <mat-icon>home</mat-icon>Home
                </button>
                <button mat-menu-item color="accent" (click)='addRecord()' matTooltip="Add a new flash card...">
                        <mat-icon>library_add</mat-icon>Add
                </button>
                <button mat-menu-item color="accent" (click)='editCard()' matTooltip="Edit current FlashCards.">
                        <mat-icon>edit</mat-icon>Edit
                </button>
                <button mat-menu-item color="accent" (click)='delete(FlashCardsx.id)' matTooltip="Delete current flash card...">
                        <mat-icon>delete</mat-icon>Delete
                </button>
                <button mat-menu-item color="accent" (click)='getReport()' matTooltip="Get report of all current FlashCards.">
                        <mat-icon>list_alt</mat-icon>Report
                </button>
        </mat-menu>

        <div *ngIf="showLoader===true" id="loaderImage"><img src="assets/lg.curve-bars-loading-indicator.gif" height="42"
                        width="42"></div>
        <div *ngIf="cardCreated===false && showReport===false && cardIsEdited===false">

                <mat-card *ngIf="showLoader===false && cardIsEdited===false" class="justify-content-center" id="QA">{{IsAnswer
                        ? FlashCardsx.answer : FlashCardsx.question}}</mat-card>

                <div class="floatBottom">
                        <button mat-mini-fab color="accent" (click)='getAnswer()' matTooltip="Toggle for answer/question">
                                <mat-icon>{{IsAnswer ? 'info':'help' }}</mat-icon>
                        </button>
                </div>

        </div>
        <div *ngIf="AddRecord===true && cardCreated===true && showReport===false">
                <app-add-card (questionCreated)="cardCreatedMethod(true)"></app-add-card>
        </div>

        <div *ngIf="cardIsEdited===true">
                <app-editcards [currentQA]=FlashCardsx (qaEdited)="cardEdited($event)"></app-editcards>
        </div>

        <div *ngIf="showReport===true">
                <flashcardreport [tableHeads]="tableHead" [tableDatas]="userDetails" [tableColName]="tableColName"
                        (closeReport)="reportClosed(false)"></flashcardreport>
        </div>

</div>