<div id='main' class="mat-app-background">
  <div class="mainCenter">

    <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="mat-form">
      <div class="form-group">
        <mat-form-field fxFlex="18" fxFlexOffset="1" style="width:80%">
          <label matLabel for="question">Question:</label>
          <textarea id="txt1" name="question" matInput [(ngModel)]="model.question" rows="3"></textarea>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field fxFlex="18" fxFlexOffset="1"  style="width:80%">
          <label matLabel for="answer">Answer:</label>
          <textarea name="answer" matInput [(ngModel)]="model.answer" rows="3"></textarea>
        </mat-form-field>
      </div>
<div class="button-row">
        <button mat-raised-button color="accent"  type="submit">Save</button>
      <button mat-raised-button color="accent"  (click)="cancelMeEdit()">Cancel</button>
</div>

      <br>
    </form>

  </div>
</div>